@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "home";
@import "listings";
@import "details";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, rgba(203, 96, 179, 0.5) 0%, rgba(173, 18, 131, 0.5) 0%, rgb(106, 93, 121) 100%),
    url("https://static.travelworks.de/media/header/sprachreisen/usa/san-francicso/sprachreisen-san-francisco-sprachschule.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

header {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: white;

  .fas {
    margin-left: 10px;

  }

  .left-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      font-size: 2rem;
    }

    .city {
      margin: 0 20px 0;
      display: flex;
      padding: 15px 20px;
    }

  }

  .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    .user-img {}

    .dropdown {
      padding: 15px 20px;
    }

    .post-btn {
      font-weight: 300;
      text-transform: capitalize;
      padding: 15px 20px;
      background: blue;
      color: white;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}